@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* --------- presets --------  */
:root{
    /* setup font as 10px */
    font-size: 62.5%;
    --bg-color: rgba(255, 143, 14, 0.10);
    --white: #FFFFFF;
    --dark-1: #131313;   
    --dark-2: #424242;   
    --dark-3: #727272;
    --orange: #FF900E;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5{
    color: var(--dark-1);
}
p{
    color: var(--dark-3);
}
.btn{
    background: var(--orange);
    border-radius: .8rem;
    font-size: 2rem;
    padding: 1.6rem 1.8rem;
    cursor: pointer;
    color: var(--white);
    font-weight: var(--semibold);
    transition: .3s all ease-in-out;
}
.btn:hover{
    color: var(--dark-2);
}


#header{
    background: var(--bg-color);
}
.header__container{
    max-width: 154rem;
    padding: 0 5rem;
    margin: 0 auto;
}
/* ------------ nav section -------  */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}
.nav__logo{
    font-size: 4.5rem;
    font-weight: var(--bold);
    color: var(--dark-1);
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.nav__logo:hover{
    color: var(--orange);
}
.nav__menu a{
    text-transform: capitalize;
    color: var(--dark-2);
    font-size: 1.8rem;
    font-weight: var(--medium);
    transition: .3s all ease-in-out;
}
.nav__menu a:hover{
    color: var(--orange);
}
.nav__menu a:not(:last-of-type){
    margin-right: 3.6rem;
}


/* ----------- banner section -------  */
#banner{
    padding: 11rem 0 5.6rem 0;
}
.banner__text-content{
    padding: 0 20%;
    text-align: center;
}
.banner__text-content h1{
    font-size: 6.4rem;
    font-weight: var(--bold);
    margin-bottom: 2rem;
}
.banner__text-content p{
    font-size: 1.6rem;
    font-weight: var(--regular);
    margin-bottom: 3.6rem;
}
.banner__text-content button{
    margin-bottom: 3.6rem;
}

.banner__image img{
    width: 100%;
    max-height: 70rem;
}


/* -------------------- Quick Feature Section --------------  */
.quick-feature__container{
    max-width: 144rem;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 5.6rem;
    align-items: center;
}
.quick-feature__images{
    padding: 2rem;
    max-width: 50%;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.quick-feature__images img{
    border-radius: .8rem;
    transition: .3s all ease-in-out;
}
.quick-feature__images img:hover {
    box-shadow: .1rem .2rem 2rem .01rem #42424275;
}

.quick-feature__content {
    max-width: 50%;
    padding-right: 10rem;
}
.quick-feature__content h2{
    font-size: 4.5rem;
    font-weight: var(--bold);
    margin-bottom: 2rem;
}
.quick-feature__content h2 > span:first-child{
    color: var(--dark-3);
    font-weight: var(--medium);
}
.quick-feature__content h2 > span:last-child{
    color: var(--orange);
    font-weight: var(--medium);
}
.quick-feature__content p{
    font-size: 1.6rem;
    font-weight: var(--regular);
    margin-bottom: 3.6rem;
}




/* ----------------------- feature list section -------------  */
.feature-list__container{
    max-width: 154rem;
    padding: 5rem 5rem;
    margin: 0 auto;
    display: flex;
    gap: 8rem;
    justify-content: space-between;
}
.feature-list__content {
    max-width: 50%;
    padding: 3rem 4rem 0 0;
}
.feature-list__content h2{
    font-size: 4.5rem;
    font-weight: var(--bold);
    padding-left: 2rem;
    margin-bottom: 3rem;
    border-left: 3px solid var(--orange);
}
.feature-list__content p{
    font-size: 1.6rem;
    font-weight: var(--regular);
    margin-bottom: 3rem;
}

.feature-list__item {
    padding: 2rem;
    background: var(--white);
    border-radius: .8rem;
    box-shadow: 0.05rem 0.05rem 2rem -0.98rem #72727242;
    margin-bottom: 2rem;
}
.feature-list__item h3{
    font-size: 2rem;
    font-weight: var(--semibold);
    margin-bottom: 1.6rem;
}
.feature-list__item p{
    font-size: 1.6rem;
    font-weight: var(--regular);
    padding-right: 4rem;
    margin-bottom: 0;
}


.feature-list__image{
    max-width: 50%;
    padding: 2rem;
}
.feature-list__image img{
    width: 100%;
    max-height: 98rem;
}

.feature-list__tooltip {
    background: var(--orange);
    border-radius: .8rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    position: relative;
    top: -11rem;
    left: -8rem;
}
.feature-list__tooltip span{
    font-size: 6.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--white);
}
.feature-list__tooltip p{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: var(--medium);
}





/* ------------------ facts section -----------  */
#facts{
    padding: 5rem 0;
}
.facts__container{
    max-width: 154rem;
    padding: 0 5rem;
    margin: 0 auto;
}
.facts__header h2{
    font-size: 4.5rem;
    font-weight: var(--bold);
    margin-bottom: 3rem;
}
.facts__header p{
    font-size: 1.6rem;
    font-weight: var(--regular);
}

.facts__cards{
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.facts__cards-item{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid var(--orange);
    border-radius: .8rem;
    transition: .3s all ease-in-out;
}
.facts__cards-item:hover {
    box-shadow: 0.1rem 0.2rem 1rem 0.1rem #4242425c;
}
.facts__cards-item img{
    margin-bottom: 1rem;
}
.facts__cards-item:hover img{
    animation: icon-animate 1s linear infinite;
}
@keyframes icon-animate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);
    }
}
.facts__cards-item span{
    font-size: 4.5rem;
    font-weight: var(--semibold);
    color: var(--dark-2);
}
.facts__cards-item p{
    font-size: 2rem;
    font-weight: var(--semibold);
    color: var(--dark-3);
}



/* ----------------- sponsor section ---------  */
#sponsor{
    padding: 5rem 0;
}
.sponsor__container{
    max-width: 154rem;
    padding: 0 5rem;
    margin: 0 auto;
}
.sponsor__container .sponsor__header{
    text-align: center;
}
.sponsor__container .sponsor__header h2{
    font-size: 4.5rem;
    color: var(--dark-1);
    font-weight: var(--bold);
    margin-bottom: 2rem;
}
.sponsor__container .sponsor__header p{
    font-size: 1.6rem;
    color: var(--dark-3);
    font-weight: var(--regular);
    margin-bottom: 3rem;
    padding: 0 31%;
}

.sponsor__logo{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsor__logo a img{
    filter: grayscale(100%);
}

/* ------------- subscribe section ----------  */
.subscribe__container{
    max-width: 154rem;
    padding: 10rem 20%;
    margin: 3.6rem auto;
    background: var(--orange);
    border-radius: .8rem;
}
.subscribe__container form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 3%;
}
.subscribe__container input[type = email]{
    border: 1px solid var(--dark-3);
    border-radius: .8rem;
    padding: 1.3rem .5rem;
    flex-basis: 70%;
}
.subscribe__container input::placeholder{
    font-size: 1.6rem;
    font-weight: var(--regular);
    color: var(--dark-3);
}
.subscribe__container button{
    font-size: 2rem;
    color: var(--dark-2);
    font-weight: var(--semibold);
    padding: .8rem 1.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s all ease-in-out;
    flex-basis: 20%;
}
.subscribe__container button:hover{
    border-color: var(--dark-2);
}

/* ------------ footer section ----------  */
#footer{
    background: var(--bg-color);
    padding: 1.8rem;
}
.footer__container{
    max-width: 154rem;
    padding: 0 5rem;
    margin: 0 auto;
    border-radius: .8rem;
}
#footer p{
    text-align: center;
    font-size: 2rem;
    color: var(--dark-2);
}




















/* ----------------------------------------------------------------------------------------
--------------------------- RESPONSIVE SECTION ----------------------------------------- */

@media screen and (max-width: 576px) {
    :root{
        font-size: 62.5%;
    }
    .btn{
        border-radius: .4rem;
        font-size: 1.6rem;
        padding: 1.2rem 1.4rem;
    }
    .header__container{
        padding: 0 1rem;
    }
    /* ---------- nav section ----------  */
    #nav{
        padding: 2rem 0;
        align-items: flex-start;
    }
    .nav__logo{
        font-size: 2.5rem;
    }
    .nav__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        /* ------ I used display none only for looking attractive the mobile view --------  */
        display: none;
    }
    .nav__menu a{
        font-size: 1.6rem;
    }
    .nav__menu a:not(:last-of-type){
        margin-right: 1rem;
    }

    /* ----------- banner section ---------  */
    #banner{
        padding: 6.4rem 0 5.6rem 0;
    }
    .banner__text-content{
        padding: 0 2%;
    }
    .banner__text-content h1{
        font-size: 3.4rem;
        margin-bottom: 1.6rem;
    }



    /* ------------- quick feature section ------------  */
    .quick-feature__container{
        padding: 3rem 1rem;
        gap: 3.6rem;
        flex-direction: column-reverse;
        align-items: center;
    }
    .quick-feature__images{
        padding: 0;
        max-width: 100%;
        row-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .quick-feature__content {
        max-width: 100%;
        padding-right: 0;
    }



    /* --------------- feature list section ------------  */
    .feature-list__container {
        padding: 3rem 1rem;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }
    .feature-list__content {
        max-width: 100%;
        padding: 3rem 1rem 0 0;
    }
    .feature-list__content h2 {
        font-size: 3.5rem;
    }
    .feature-list__image {
        max-width: 100%;
        padding: 1rem;
        padding-left: 8rem;
    }
    .feature-list__tooltip {
        padding: 1.5rem;
        top: -6rem;
    }
    .feature-list__tooltip span {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .feature-list__tooltip p {
        font-size: 1.6rem;
    }


    /* ---------------- facts section ------------  */
    .facts__container {
        padding: 0px 1rem;
    }
    .facts__cards {
        padding: 6rem;
        flex-direction: column;
        row-gap: 3rem;
    }
    .facts__cards-item {
        width: 90%;
        text-align: center;
    }


    /* -------------- sponsor section ---------  */
    #sponsor {
        padding: 3rem 0;
    }
    .sponsor__container {
        padding: 0px 1rem;
    }
    .sponsor__container .sponsor__header h2 {
        font-size: 3.5rem;
    }
    .sponsor__container .sponsor__header p {
        font-size: 1.4rem;
        padding: 0 5%;
    }
    .sponsor__logo {
        padding: 3rem 0;
        gap: 3rem;
        flex-direction: column;
    }

    /* ----------subscribe section ----------- */
    .subscribe__container input[type = email] {
        padding: 1rem .5rem;
    }
    .subscribe__container button {
        padding: .5rem 1.2rem;
    }

    /* ------------ footer ----------  */
    .footer__container{
        padding: 0 1rem;
    }
    #footer p{
        font-size: 1.6rem;
    }
}